.material-input {
    position: relative;

    * {
        transition: all 0.25s linear;
    }

    input {
        background-color: transparent !important;
        border: none;
        outline: none;
        border-bottom: 1px solid #aaa;
        color: #777 !important;

        &.outline {
            border: 1px solid #aaa;
            border-radius: 7px;
            padding: 5px 8px;

            & ~ .label {
                left: 8px;
                transform: translateY(-50%);
            }
        }

        &:focus {
            border-color: cyan;

            & ~ .label {
                color: cyan;
                transform: scale(0.9) translate(-3px, -150%);
            }

            &.outline ~ .label {
                z-index: 0;
            }
        }

        &:not(.empty):invalid {
            border-color: red;

            & ~ .label {
                color: red;
            }
        }

        &:not(.empty) {
            & ~ .label {
                transform: scale(0.9) translate(-3px, -150%);
            }
        }
    }

    .label {
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateY(-5px);
        color: #aaa;
        font-size: 14px;
        background-color: white;
        padding: 0 2px;
    }
}
